<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

    <div class="container">
     <div class="row">
         <div class="col-md-4">
             <div class="imgAbt">
                 <img width="400" height="600" src="/img/disculpas.jpg" />
             </div>
         </div>
         <div class="col-md-8">
            <div class="cool-background">
             <p>Disculpadme por haber entregado el ejercicio tan tarde, he tenido anginas y 
               fiebre estos dias y no he podido ir al medico porque no tengo la targeta de salud de Madrid,
              espero tener una oportunidad igualmente me gusta mucho esta empresa :(</p>
            </div>
         </div>
      </div>
    </div>
  </body>
</html>

<style>
  .row {
    margin-top: 50px;
  }
  .cool-background {
    margin-left: 50px;
    padding: 30px;
    border-radius: 25px;
    background-color: blanchedalmond;
  }
</style>